
  <div class="card text-center">
    <div class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">{{characters?.name}}</h1>
            <p class="lead">Episode : {{characters?.episode}}</p>
            <p class="lead">Created Date  : {{characters?.created |  date:'yyyy-MM-dd' }}</p>
            <p class="lead">Air Date : {{characters?.air_date}}</p>
        
            <hr class="my-4"   >
            
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">return</a>
            </p>
          </div>
    </div>
  </div>