
<div class="form-group col-md-4 search justify-content-center d-flex">
  <img class="logo" src="../../assets/search-morty.png">
  <img class="logo" src="../../assets/search-Rick.png">
    <button type="button" class="btn buttn btn-outline-secondary" (click)="send('All')">ALL</button>
    <button type="button" class="btn buttn btn-outline-secondary" (click)="send('Alive')">ALIVE</button>
    <button type="button" class="btn buttn btn-outline-secondary" (click)="send('Dead')">DEAD</button>
    <button type="button" class="btn buttn btn-outline-secondary" (click)="send('Unknown')">UNKNOWN</button>
  </div>



