.card-container {
  display: grid;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: space-between;

}

.card {
  background-color: var(--background-card);
  border-radius: 20px;
  box-shadow: 0 0 5px 1px var(--background-body);
  overflow: hidden;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  height: 100%;
  margin: 10px;

}

.character :hover {
  transform: scale(1.05);

}


.card span {
  color: var(--text-gray);
}
.card__info {
  padding: 1.5rem;
}

.character__info .origen {
  margin-bottom: 0.5rem;
}

.card__info .status {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-container,
.Alive,
.Dead,
.unknown {
  color: white;
  font-weight: bold;
}

.character__info .status span {
  color: var(--text-gray);

}

.character__info .status span:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.card-title {
  color: aqua;
}

.modls {
  background-color: var(--background-card);
}

p {
  color: white;
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 0rem;
  padding: 0px;
}

.modal-header h2 {
  font-size: 23px;
  color: #fff;
}

.pagination {
  margin-left: 400px;
}

.l {
  padding: 5px;
  margin-left: 10px;
}
.episodes{
  background-color: var(--background-card);
border: none;
color: #fff;
}